@import "reset";

@font-face {
  font-family: "Fight";
  src: url("../fonts/fightt3_-webfont.woff2") format("woff2"),
    url("../fonts/fightt3_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro";
  src: url("../fonts/UniversNextPro-Thin.woff2") format("woff2"),
    url("../fonts/UniversNextPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro Ext";
  src: url("../fonts/UniversNextPro-LightExt.woff2") format("woff2"),
    url("../fonts/UniversNextPro-LightExt.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro Light Cond";
  src: url("../fonts/UniversNextPro-BoldCond.woff2") format("woff2"),
    url("../fonts/UniversNextPro-BoldCond.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro Ext";
  src: url("../fonts/UniversNextPro-BoldExt.woff2") format("woff2"),
    url("../fonts/UniversNextPro-BoldExt.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro";
  src: url("../fonts/UniversNextPro-Bold.woff2") format("woff2"),
    url("../fonts/UniversNextPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro";
  src: url("../fonts/UniversNextPro-Regular.woff2") format("woff2"),
    url("../fonts/UniversNextPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro Light Cond";
  src: url("../fonts/UniversNextPro-LightCond.woff2") format("woff2"),
    url("../fonts/UniversNextPro-LightCond.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Univers Next Pro Ext";
  src: url("../fonts/UniversNextPro-Ext.woff2") format("woff2"),
    url("../fonts/UniversNextPro-Ext.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Univers Next Pro", "sans-serif";
  color: #ededed;
}

a {
  text-decoration: none;
}

.mobile {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/img/home-background.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile__title {
  font-family: 'Fight';
  font-size: 20vw;
}

.mobile__description {
  font-size: 20px;
  margin-top: 10px;
  width: 80vw;
}

.wrapper--themes {
  background-color: black;
  background-image: url("../img/scratch.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Fight";
  font-size: 120px;
  color: #ededed;
  height: 80px;
}

h2 {
  font-weight: 100;
  font-size: 25px;
}

.scroll {
  position: absolute;
  bottom: 80px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll img {
  width: 30px;
  height: 30px;
}

button {
  cursor: pointer;
  font-weight: bold;
  background-color: #111111;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.audio__wrapper {
  position: absolute;
  top: 7vh;
  right: 5vw;
  z-index: 3;
}

.audio {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.audio--false {
  background-image: url("../svg/speaker2.svg");
}
.audio--true {
  background-image: url("../svg/speaker1.svg");
}

.skip,
.play-pause {
  position: absolute;
  bottom: 80px;
}

.skip {
  right: 5vw;
}

.play-pause {
  background: none;
  background-repeat: no-repeat;
  background-image: url("../svg/playpause.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
  right: 5vw;
}

.sound {
  left: 5vw;
}

.sound__wrapper {
  padding: 5px 10px;
  position: absolute;
  bottom: 80px;
  left: 5vw;
  z-index: 3;
}

.sound {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.sound--false {
  background-image: url("../svg/speaker2.svg");
}
.sound--true {
  background-image: url("../svg/speaker1.svg");
}

.slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  font-weight: 100;
  line-height: 230%;
}

// ANIMS GENERALES

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//version mobile....
